@import url(../layout/app.css);

:root {
    --orange: #FF9F5A;
    --purple: #BF98FF;
}


p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

#education-page {
    /* 
    background-image: url(../../assets/waveBgshort.svg);
        height: 90vh;
    */
    color: var(--primary-color);
    text-align: center;
    padding-top: 15vh;
    background-size: cover;

    display: block;
}
.wave-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        object-fit: fill;
        z-index: 0;
}


.page-education {
        width: 100%;
        display: block;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        background-size: cover;
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;

}

.text-education-page {
    color: #f5f5f5;
    font-family: Helvetica;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
}

#title-education-page {
    font-size: 90px;
    display: flex;
    align-items: center;
    z-index: 0;
    position: relative;
    height: 15vh;
}


#education-guide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;


}
.education-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.education-summary div {
margin: 5%;
}

.left-summary img {
    margin-left: 3%;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}



.right-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-summary h2,
.right-summary h1 {
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    /* 146.875% */
    letter-spacing: -2.3px;
}
@media (max-width: 1000px) {
    .left-summary
    {
        display: none;
    }
    #title-education-page {
        font-size: 65px;
    }
    
}
@media (max-width: 500px) {

    .right-summary h1 {
        font-size: 40px !important;
    }
    .wave-svg {

        width: 100% !important;
        height: 100% !important;
        object-fit: cover;

}
    
}

.right-summary h2 {
    font-size: 32px;
}

.right-summary h1 {
    font-size: 53px;
}

.right-summary p {
    color: #E5D5FF;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-summary button {
    position: relative;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3% 5%;
    border: none;
}



.right-summary button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-image: linear-gradient(220deg, #ffffff 0%, #809bf9 100%);
    border-image-slice: 1;
}

#qinvestLogoSm {
    width: 152px;
    height: 34px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-right: 27%;
}
#qinvestLogoSmall {
    width: 152px;
    height: 34px;
    flex-shrink: 0;
    margin-top: 30px;
    fill: var(--secondary-color);
}
.course {
    display: flex;
    justify-content: center;
    flex-direction: column;

    position: relative;
    z-index: 1;
}
.container-course-cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}
.courseCard {
width: 80%;
}

.courseTitle {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
}
.courseTitle#course-fixed
{
    color: #ff9245;
}
.courseTitle#course-variable
{
    color: #a065ff;
}
.courseSubtitle {

    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1% 0 2% 1%;
}

.courseContent {
    display: flex;
    width: 100%;
    max-height: 234px;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    border-radius: 10px;
    color: var(--orange);
    margin-bottom: 30px;
}
.courseContent#course-variable {
    background: rgba(191, 152, 255, 0.041);
    box-shadow: 0 8px 20px 0 rgba(121, 22, 160, 0.185);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(149, 11, 204, 0.363);
}
.courseContent#course-fixed {
    background: rgba(255, 162, 0, 0.027);
    box-shadow: 0 8px 20px 0 rgba(135, 99, 31, 0.356);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(255, 145, 0, 0.301);
}

.contentsubtitle
{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.contentSubtitle#course-variable {
    color: var(--orange);
}
.contentSubtitle#course-variable {
    font-weight: 600;
    color: var(--purple);
}

.course-content#course-variable
{
    border: 1px solid var(--orange);
}
.course-content#course-fixed
{
    border: 1px solid var(--purple);
}

.contentTitle {
    color: var(--secondary-color);
    font-size: 20px;
    letter-spacing: 0.2px;
}

.contentText {
    color: var(--secondary-color);
    font-size: 16px;
    text-align: justify;
}
