@import url(../layout/app.css);


.page-variable {
    width: 100%;
    min-height: 80vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.topic h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}


/* Estilo do conteúdo central */
/* Estilos para a estrutura principal */
.wrapper {
    display: flex;
    justify-content: flex-start;
    /* Alinha o índice à esquerda */
    width: 100%;
}

.index {
    color: var(--secondary-color);
    width: 250px;
    height: 100%;
    text-align: left;
    z-index: 2;
    padding-left: 30px;
    position: relative;

}

.button {
    border-color: var(--secondary-color) !important;
    cursor: pointer;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 5px;
}

.button-bars{
    text-align: left;
    color: var(--secondary-color);
    font-size: 26px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 2%;
    position: absolute;
    padding-left: 2%;

}
.button-container {
    justify-content: center;
    display: flex;
    z-index: 1;
    gap: 10px
}



.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: inherit;
    max-width: 900px;
}

.parent{
    width: inherit;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}

/* Estilos para o índice */
.index h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.index li{
    list-style: auto;
    margin-bottom: 7px;
}
.index a {
    list-style: none;
    padding: 0;
    color: var(--secondary-color);
    text-decoration: none;
}

.index a:hover {
    color: #586d98;
}

/* Estilos para o conteúdo principal */
.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.box
{   
    margin: 2%;
    padding: 2%;
    border-radius: 10px;

    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#box1
{
    background: rgba( 144, 19, 254, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(105, 31, 135, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(182, 75, 192, 0.3);
}
#box2
{
    background: rgba( 245, 158, 15, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(172, 94, 30, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(219, 160, 83, 0.3);
}
#box3
{
    background: rgba( 74, 144, 226, 0.05 );
box-shadow: 0 8px 32px 0 rgba(12, 101, 184, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba(158, 142, 233, 0.3);
}

#cicle{
    width: 70%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;

}