@import url(../layout/app.css);



.page-home {
    transition: var(--transition);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* .wave-svg {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    z-index: 1;
    object-fit: cover;
    height: inherit;
} */
.buttons-home {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 5vh;
}
.buttons-home button {
    font-size: 1em;
    padding: 1% 2%;
}

#login,
#register:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: solid 0.1em;
    border-color: var(--primary-color);
}

#register,
#login:hover {
    background-color: var(--primary-color);
    color: #794ef0;
    border: solid 0.1em;
    border-color: transparent;
}

#register,
#login,
#register:hover,
#login:hover {
    transition: var(--transition);
}

.stair {
    display: flex;
    justify-content: center;
}

.stair svg {
    width: 100%;
    height: auto;
    max-width: 70vh;
    max-height: 70vh;
    transition: var(--transition);
    color: var(--secondary-color);
}
p {
    text-align: center;
}
.h1 {
    font-weight: bold;
}
.h3 {
    font-size: 1.5vh;
}

.text-image-ladder {
    margin: 2.5vh 0 2.5vh 0;
}
.buttons-home {
    margin: 2.5vh 0 2.5vh 0;
}
#alter {
    color: var(--secondary-color);
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.h1#alter {
    font-size: 2em;
}
.h3#alter 
{
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .h1#alter {
        width: 100% !important;
    }
}

.plan-mother
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3vh 0 0 0;
    width: 90%;
}

.plan
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0vh 2vh;
    width: 30%;
    height: 60vh;
    border-radius: 10px;
}

#advanced.plan
{
    box-shadow: 0 8px 32px 0 rgba(135, 31, 130, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

   
}
#unlimited.plan
{
    box-shadow: 0 8px 32px 0 rgba(135, 16, 214, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );


}
.plan-price {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-name
{
    width: 100%;
    height: 20vh;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.plan-name p
{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

.plan-content
{
    padding-bottom: 5vh;
    width: 100%;
    height: 120vh;
    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#basic.plan-content
{
    border: 1px solid #4e79f071;
}
#basic.plan-price {
    color: #6e7fb3;
}

#advanced.plan-content
{
    border: 1px solid rgba(108, 7, 167, 0.384);
}

#advanced.plan-price {
    color: #ba1aea;

}

#unlimited.plan-content
{
    border: 1px solid rgba(129, 11, 197, 0.397);
}

#unlimited.plan-price {
    color: rgba(70,10,189,1);
}

#basic.plan-name{
    background-color: #6e7fb3;
}

#advanced.plan-name{
    background-color: #ba1aea;
}
#unlimited.plan-name{
    background: rgb(70,10,189);
    background: linear-gradient(35deg, rgba(70,10,189,1) 0%, rgba(119,0,255,1) 100%);
}
#benefits
{

    margin: 1vh 0 1vh 0;
    font-size: 0.75em;
    color: var(--secondary-color);
    opacity: 0.85;
    margin-bottom: 10px;
}
.svg-plan  
{
    height: 20%;
    color: white;
    margin-top: 10px;
}
#plan-items
{
    width: 80%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--secondary-color);
    font-size: 23px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    text-align: left;
}
.plan-list
{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.plan-subs
{
    margin: 0;
    padding: 0;

    height: 4vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-self: baseline;
}
.plan-subs p
{

    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-size: 20px;
    height: 4vh;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 10px;
}
.plan-subs#unlimited p
{
    background-color: rgba(70,10,189,1);
    color: white;
}
.plan-subs#advanced p
{
    background-color: #ba1aea;
    color: white;
}
.plan-subs#basic p
{
    background-color: #6e7fb3;
    color:white;
}

.plan-subs:hover p
{
    transition: var(--transition);
    background-color: var(--secondary-color)!important;
    color: var(--primary-color)!important;
    cursor: pointer;
}

