@import url(../layout/app.css);

.page {
    min-height: 80vh;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-top: 15vh;
}
