.page-investment {
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.investment-card {
    border-radius: 7px;
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 400px;
    height: 400px;
}

