@import url(../css/layout/app.css);

:root {
    --conservador: rgb(125, 193, 255);
    --agressivo: rgb(246, 46, 46);
    --moderado: rgb(158, 99, 255);
}

.page {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

.type {
    width: 100%;
    margin: 0;
    display: flex;
    padding-top: 15vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.background-conservador {
    background: rgb(5, 74, 153);
    background: linear-gradient(
        90deg,
        rgba(5, 74, 153, 0.5) 0%,
        rgba(5, 74, 153, 0.25) 15%,
        rgba(5, 74, 153, 0) 50%,
        rgba(5, 74, 153, 0.25) 85%,
        rgba(5, 74, 153, 0.5) 100%
    );
}

.background-moderado {
    background: rgb(5, 74, 153);
    background: linear-gradient(
        90deg,
        rgba(5, 74, 153, 0.5) 0%,
        rgba(5, 74, 153, 0.25) 15%,
        rgba(5, 74, 153, 0) 50%,
        rgba(5, 74, 153, 0.25) 85%,
        rgba(5, 74, 153, 0.5) 100%
    );
}

.background-agressivo {
    background: rgb(246, 46, 46);
    background: linear-gradient(
        90deg,
        rgba(246, 46, 46, 0.5) 0%,
        rgba(246, 46, 46, 0.25) 15%,
        rgba(246, 46, 46, 0) 50%,
        rgba(246, 46, 46, 0.25) 85%,
        rgba(246, 46, 46, 0.5) 100%
    );
}

.type h1,
h2,
p {
    margin: 1% 0;
}

.type h1,
h1 span {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 104%;
    letter-spacing: 0.2px;
    text-align: center;
}

.text {
    height: 100%;
    width: 40%;
}

.type h1 span.conservador {
    color: var(--conservador);
}

.type h1 span.moderado {
    color: var(--moderado);
}

.type h1 span.agressivo {
    color: var(--agressivo);
}

.type h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 104%; /* 33.28px */
    letter-spacing: 0.2px;
}

.type p {
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 104%; /* 20.8px */
    letter-spacing: 0.2px;
}
