@import url(../layout/app.css);

:root {
    --conservador: #7dc1ff;
    --agressivo: #f62e2e;
    --moderado: #9e63ff;
}
#page-typeInvestor{
    padding-top: 10vh;
}

.type {
    width: 100%;
    padding-bottom: 10vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 25px;
}

.background-conservador {
    background: rgb(5, 74, 153);
    background: linear-gradient(
        90deg,
        rgba(5, 74, 153, 0.3) 0%,
        rgba(5, 74, 153, 0.25) 15%,
        rgba(5, 74, 153, 0) 50%,
        rgba(5, 74, 153, 0.25) 85%,
        rgba(5, 74, 153, 0.3) 100%
    );
}

.background-moderado {
    background: rgb(158, 99, 255);
    background: linear-gradient(
        90deg,
        rgba(158, 99, 255, 0.3) 0%,
        rgba(158, 99, 255, 0.25) 15%,
        rgba(158, 99, 255, 0) 50%,
        rgba(158, 99, 255, 0.25) 85%,
        rgba(158, 99, 255, 0.3) 100%
    );
}

.background-agressivo {
    background: rgb(246, 46, 46);
    background: linear-gradient(
        90deg,
        rgba(246, 46, 46, 0.3) 0%,
        rgba(246, 46, 46, 0.25) 15%,
        rgba(246, 46, 46, 0) 50%,
        rgba(246, 46, 46, 0.25) 85%,
        rgba(246, 46, 46, 0.3) 100%
    );
}

.svg-type {
    width: 100%;
    height: auto;
    padding: 2.5% 0 0 0;
    margin: 0;
}

svg {
    height: 30vh;
}

.type h1 {
    margin: 2.5vh 0 5vh 0;
}

.type h1,
h1 span {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 104%;
    letter-spacing: 0.2px;
    text-align: center;
}

.text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 25px !important;
}

.type h1 span.conservador {
    color: var(--conservador);
}

.type h1 span.moderado {
    color: var(--moderado);
}

.type h1 span.agressivo {
    color: var(--agressivo);
}

.description {
    text-align: justify !important;
    padding: 2%;
}

 .paragraph, .description {
    width: 700px;
}

.recomendations {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.recommended-1, .recommended-2 {
    width: 50%;
}

.recommended-1, .recommended-2, .recommended-3 {
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
    border-radius: 10px;
}

.double-recommendation{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.paragraph {
    padding: 2%;
    border-radius: 10px;
}

.paragraph p {
    text-align: justify !important;
}

.paragraph p + p {
    margin-top: 2%;
}

.paragraph-conservador {
    border: 1px solid var(--conservador);    
}

.paragraph-moderado {
    border: 1px solid var(--moderado);
}

.paragraph-agressivo {
    border: 1px solid var(--agressivo);
}

.link-conservador {
   color: var(--conservador);
   text-decoration: none;

}

.link-moderado {
   color: var(--moderado);
}

.link-agressivo {
   color: var(--agressivo);
}


.type h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 104%; /* 33.28px */
    letter-spacing: 0.2px;
}

.type p {
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
}

.bi-arrow-down,
.bi-arrow-up {
    color: var(--secondary-color);
}
