@import url(../layout/app.css);

.page-profile{
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: helvetica;
    font-size: 17px;
}


#edit-form{
    margin-top: 1em;
    display: none;
}

#edit-form::after {
    display: block;
}
.update label{
    font-family: helvetica;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
}
.update input[type="text"]{
    font-family: helvetica;
    font-size: 17px;
    text-decoration: none;
    padding-left: 4px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    border-radius: 7px;
}
.update input[type="email"]{
    font-family: helvetica;
    font-size: 17px;
    text-decoration: none;
    padding-left: 4px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    border-radius: 7px;
}
.update input[type="date"]{
    font-family: helvetica;
    font-size: 17px;
    text-decoration: none;
    padding-left: 4px;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 7px;
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}
.square {
    margin: auto;
    border-radius: 7px;
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 600px;
    height: 400px;
}

#profile-label {
    margin-bottom: 0;
}

.content h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}
#edit-button {
    border: 1px solid var(--secondary-color);
    border-radius: 7px;
    width: 42%;
    padding: 3px;
    padding-top: 2px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
    margin-top: 2rem;
    margin-left: 29%;
}
.profile-info{
    font-weight: bold;
}

.profile-type {

    color: #9E63FF;
    text-decoration: none;

}

.profile-type:hover {
    text-decoration: none;
    font-weight: bold;
}

.profile-discover {

    color: #9E63FF;
    text-decoration: none;

}

.profile-discover:hover {
    color: #9E63FF;
    text-decoration: none;
    font-weight: bold;
}
.retake-test {
    text-decoration: none;
    color: var(--secondary-color);
}

.retake-test:hover {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.retake-label{
margin-bottom: 2rem;
    margin-top: 1rem;
}

/* #qinvestLogoSmall {
    width: 152px;
    height: 34px;
    margin-top: 2%;
    fill: var(--secondary-color);
    margin-bottom: 1%;
    margin-right: 9%;
} */

#profile-display {
    margin-top: 1rem;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}