@import url(../layout/app.css);


.page-variable {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.topic h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

.p-space{ 
    text-indent: 60px;
}

.fa-arrow-left,.fa-arrow-right {
    color:  var(--secondary-color);
}

.svg-container{
    width: 100%;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 6%;
    min-height: 76px;
    height: 152px;

}

/* Estilo do conteúdo central */
/* Estilos para a estrutura principal */
.wrapper {
    display: flex;
    justify-content: flex-start;
    /* Alinha o índice à esquerda */
    width: 100%;
}

.index {
    color: var(--secondary-color);
    width: 250px;
    height: 100%;
    text-align: left;
    z-index: 2;
    position: relative;
}

.button {
    border-color: var(--secondary-color) !important;
    cursor: pointer;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 5px;
}

.button-bars{
    text-align: left;
    color: var(--secondary-color);
    font-size: 26px;
}
.button-div{
    width: 60%;
    margin-left: 20%;
  
}


.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    margin-bottom: -5vh;
    padding-left: 2%;
}
.button-container {
    justify-content: center;
    display: flex;
    z-index: 1; 
    gap: 10px
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: inherit;
    max-width: 900px;
    /* Faz com que o conteúdo principal ocupe 2 vezes mais espaço */
}

.parent{
    width: inherit;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
}
/* Estilos para o índice */
.index h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.index li{
    list-style: auto;
    margin-bottom: 7px;
}
.index a {
    list-style: none;
    padding: 0;
    color: var(--secondary-color);
    text-decoration: none;
}

.index a:hover {
    color: #586d98;
}

/* Estilos para o conteúdo principal */
.content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}


#cicle{
    width: 70%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;

}