@import url(style.css);

.body-education-page {
    height: 112vh;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-size: cover;
    margin: 0;
    padding: 17.5vh 0 0 0;
    text-align: center;
}

#education-page {
    background-image: url(../assets/waveBg.svg);
    color: var(--primary-color);
}

.text-education-page {
    color: var(--secondary-color) !important;
    letter-spacing: 1.2px;
}

#title-education-page {
    font-size: 96px;
}

.education-summary {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.education-summary div {
    margin-top: 5vh;
    width: 485px;
    height: 485px;
    background-color: #ffffff;
}

.left-summary {
    border-radius: 10px 0 0 10px;
}

.left-summary img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.right-summary {
    border-radius: 0 10px 10px 0;
}

.right-summary h2,
.right-summary h1 {
    color: #8f47f1;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    /* 146.875% */
    letter-spacing: -2.3px;
}

.right-summary h2 {
    font-size: 32px;
}

.right-summary h1 {
    font-size: 53px;
}

.right-summary p {
    color: #586d98;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-summary button {
    position: relative;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    background: linear-gradient(220deg, #ec78ff 0%, #809bf9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3% 5%;
    border: none;
}

.right-summary button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-image: linear-gradient(220deg, #ec78ff 0%, #809bf9 100%);
    border-image-slice: 1;
}

#qinvestLogoSm {
    width: 152px;
    height: 34px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-right: 27%;
}
#qinvestLogoSmall {
    width: 152px;
    height: 34px;
    flex-shrink: 0;
    margin-top: 30px;
    fill: var(--secondary-color);
    margin-left: 32.5%;
}
.curso {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding-left: 12%;
    padding-bottom: 60px;
}

.cursoCard {
    width: 100%;
}

.cursoTitleVariable {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    margin-right: 62%;
}

.cursoTitleFixed {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-right: 66%;
    text-transform: capitalize;
}

#cursoSubtitleFixed {
    color: #586D98;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 78%;
}

#cursoSubtitleVariable {
    color: var(--TextoSecundarioSecundario, #FF9F5A);
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3%;
}

.cursoContentFixed {
    display: flex;
    width: 1160px;
    max-height: 234px;
    padding: 25px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    border-radius: 10px;
    border: 1px solid var(--TextoSecundarioClaro, #BF98FF);
    background-color: transparent;
    margin-bottom: 30px;
}


.cursoContentVariable {
    display: flex;
    width: 1160px;
    padding: 25px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--TextoSecundarioSecundario, #FF9F5A);
    background-color: transparent;
}

.contentTitle {

    color: var(--secondary-color);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 160% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

#contentSubtitleVariable {
    color: var(--TextoSecundarioSecundario, #FF9F5A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-transform: capitalize;

}

#contentSubtitleFixed {
    color: var(--TextoSecundarioClaro, #BF98FF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-transform: capitalize;

}

.contentText {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.2px;
    text-transform: capitalize;
}
