@import url(style.css);

.body-education-page {
    height: 120vh;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-size: cover;
    margin: 0;
    padding: 17.5vh 0 0 0;
    text-align: center;
}
#education-page {
    background-image: url(../assets/waveBg.svg);
    color: var(--primary-color);
}

.text-education-page {
    color: var(--secondary-color) !important;
    letter-spacing: 1.2px;
}

#title-education-page {
    font-size: 96px;
}
