@import url(../css/layout/app.css);

.active {
    display: block;
}
.disable {
    display: hidden;
}

.transition-enter {
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.field-input {
    border-radius: 10px;
    border: 1px solid #b8b8b8 !important;
}

.field-input:focus {
    box-shadow: 0px 0px 5px 0px #6f00ff !important;
}

.input-group-text {
    border: 1px solid #b8b8b8 !important;
    background-color: transparent !important;
}

.form-check-input[type="checkbox"] {
    border-radius: 0 !important;
    box-shadow: none !important;
}
.form-check-input:checked[type="checkbox"] {
    background-color: #db33f6 !important;
}
.form-check-label {
    font-weight: 400;
    font-size: 14px !important;
}

.label-form {
    text-align: left;
}
.submit-button {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    background: linear-gradient(220deg, #ec78ff 0%, #809bf9 100%);
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    height: 40px;
}

.step-button {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 5px;
}

.step-button:hover {
    background-color: rgba(192,192,192,0.7);
    transition: (--transition);

}

.form-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#eye-icon-password,
#eye-icon-confirm-password {
    display: block;
}
form .password-strength-bar {
    height: 5px;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 0;
    display: none;
}

form .password-strength-bar span {
    width: 100%;
    height: 100%;
    background-color: lightgray;

    position: relative;
}

.two {
    margin: 0 1vh;
}

.password-strength-bar span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--dark-purple);
}

span.active.one::before {
    background-color: #ff4757;
}

span.active.two::before {
    background-color: #ffa500;
}

span.active.three::before {
    background-color: #23ad5c;
}

span.very-strong.one::before,
span.very-strong.two::before,
span.very-strong.three::before {
    background-color: #00692c;
}
form .text-password {
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: -10px;
    display: none;
}

.invalid-input {
    font-size: 14px;
    font-weight: 200;
    color: red;
    text-align: start;
}

.form-redirect p {
    font-size: 14px;
    font-weight: 700;
}

.form-redirect a {
    color: #8c46ff;
    text-decoration: none;
}

.field-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.google-input {
    border-radius: 10px;
    border: 1px solid #000000 !important;
    background-color: #ffffff;
    color: #000000;
    height: 40px;
}

#home {
    border: 1px solid #8c46ff;
    border-radius: 10px;
    background-color: #8c46ff;
    color: #ffffff;
    height: 40px;
    text-decoration: none;
    padding: 2% 3%;
    transition: (--transition);
}

#home:hover {
    border: 1px solid #8c46ff;
    background-color: #ffffff;
    color: #8c46ff;
    letter-spacing: 0.5px;
    transition: (--transition);
    top: -10px;
}
