@import url(style.css);
.form-page {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-form {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 15 px 0px rgba(0, 0, 0, 1);
    border-radius: 1vh;
}

.side-left {
    border-radius: 1vh 0 0 1vh;
    background: conic-gradient(
        from 180deg at 50% 50%,
        #3378ff 0deg,
        #6caeeb 67.5deg,
        #3a36ff 181.87499284744263deg,
        #eac1de 292.5deg,
        #b02fff 324.3750071525574deg
    );
    height: 70vh;
    padding: 0 !important;
}

.into-side-left {
    background: #ffe3e340;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 1vh 0 0 1vh;
    border: 1px solid #ffffff2e;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-form {
    width: 80%;
    height: 70%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 4vh;
}

.text-left-form {
    text-transform: uppercase;
    font-size: 400%;
    text-align: left;
    color: #ffffff;
}

span.highlighted {
    color: var(--dark-purple);
}

.text-left-form,
span.highlighted {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.bottom-left-form {
    display: flex;
    color: var(--dark-purple);
}

.text-bottom-left {
    width: 70%;
    text-align: left;
}

.bottom-left-form img {
    height: 10vh;
    text-align: left;
}

.side-right {
    border-radius: 0 1vh 1vh 0;
    background-color: #ffffff;
    color: #121927;
    height: 70vh;
    padding: 0 !important;
}

.into-side-right {
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.text-right-form {
    font-size: 400%;
    text-align: left;
}

.text-right-form svg path {
    fill: #121927;
}


