form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.label-form {
    text-align: left;
}
.button-submit {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(220deg, #ec78ff 0%, #809bf9 100%);
    font-weight: 700;
    color: #ffffff;
}

#eye-icon-password,
#eye-icon-confirm-password {
    display: inline-block;
}
form .password-strength-bar {
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 0;
    display: none;
}

form .password-strength-bar span {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 2vh;
    position: relative;
}

.two {
    margin: 0 1vh;
}

.password-strength-bar span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    background: var(--dark-purple);
}

span.active.one::before {
    background-color: #ff4757;
}

span.active.two::before {
    background-color: #ffa500;
}

span.active.three::before {
    background-color: #23ad5c;
}

span.very-strong.one::before,
span.very-strong.two::before,
span.very-strong.three::before {
    background-color: #00692c;
}
form .text-password {
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: -10px;
    display: none;
}
