@import url(style.css);

.page {
    height: 120vh;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}
#page-home {
    background-image: url(../assets/waveBg.svg);
    color: var(--primary-color);
}

.header-page {
    padding-top: 15vh;
    transition: var(--transition);
}

.buttons-home {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 5vh;
}
.buttons-home button {
    padding: 1% 2%;
    font-size: 1em;
}

#login,
#register:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: solid 0.1em;
    border-color: var(--primary-color);
}

#register,
#login:hover {
    background-color: var(--primary-color);
    color: #794ef0;
    border: solid 0.1em;
    border-color: transparent;
}

#register,
#login,
#register:hover,
#login:hover {
    transition: var(--transition);
}

.stair {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.stair img {
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 0;
    position: absolute;
    width: 35%;
}

.svg-container {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.feather {
    fill: #ffcc00; /* Cor do contorno */
    stroke: none; /* Desativa o traço */
    filter: url(#glow); /* Aplica o filtro de brilho ao contorno */
}

@keyframes pulsate {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(200%);
    }
    100% {
        filter: brightness(100%);
    }
}

.feather {
    animation: pulsate 1s infinite;
}
