body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif, Arial;
}
.body-claro {
    background-color: #ffffff;
}
.body-escuro {
    background-color: #121927;
}

header {
    width: 100%;
    height: 94px;
    margin: 0;
    padding: 0;
}

header a,
.header-claro a,
.header-escuro a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.header-claro {
    background-color: #ffffff;
    color: #212121;
}

.header-claro a {
    color: #212121;
}

.header-escuro {
    background-color: #212121;
    color: #ffffff;
}
.header-escuro a {
    color: #ffffff;
}

.imagem-escada {
    height: 737px;
    width: 100%;
    background-image: linear-gradient(to top, #db33f6, #3860ec);
    margin: 0;
    padding: 0;
}

footer {
    background-color: #212121;
    width: 100%;
    height: 604px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #3860ec, #6a31e2);
}
