@import url(./app.css);

.body-auth::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.body-auth {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: conic-gradient(
        from 180deg at 50% 50%,
        #3378ff 0deg,
        #6caeeb 67.5deg,
        #3a36ff 181.87499284744263deg,
        #eac1de 292.5deg,
        #b02fff 324.3750071525574deg
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
}

.auth-page {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card {
    display: flex;
    border-radius: 10px;
    border-top: 1px solid rgba(117, 117, 117, 0.62);
    border-right: 1px solid rgba(117, 117, 117, 0.62);
    border-bottom: 1px solid rgba(117, 117, 117, 0.62);
    background: #fff;
    justify-content: center;
    width: 1092px;
    height: 90%;
}

.card-form {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 15 px 0px rgba(0, 0, 0, 1);
    border-radius: 1vh;
}

.auth-text {
    border-radius: 1vh 0 0 1vh;
    background: conic-gradient(
        from 180deg at 50% 50%,
        #3378ff 0deg,
        #6caeeb 67.5deg,
        #3a36ff 181.87499284744263deg,
        #eac1de 292.5deg,
        #b02fff 324.3750071525574deg
    );
    box-shadow: 0px 0px 15 px 0px rgba(0, 0, 0, 1);
    width: 50%;
}

.auth-text-content {
    background: #ffe3e340;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 1vh 0 0 1vh;
    border: 1px solid #ffffff2e;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-content {
    height: 100%;
}

.auth-form-content svg path {
    fill: #121927;
}

.square-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 4vh;
}

.text-card-left {
    text-transform: uppercase;
    font-size: 64px;
    text-align: left;
    color: #ffffff;
    flex-wrap: nowrap;
    font-family: "Bebas Neue", Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.highlighted {
    color: var(--dark-purple);
}

.bottom-left-form {
    display: flex;
    justify-content: space-between;
    color: var(--dark-purple);
}

.text-bottom-left {
    width: 70%;
    text-align: left;
}

.auth-form {
    width: 50%;
    border-radius: 0 1vh 1vh 0;
    background-color: #ffffff;
    color: #121927;
}

.auth-form-content {
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.text-right-card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 3px;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
