@import url(app.css);

/* FOOTER */

footer {
    color: #ffffff;
    width: 100%;
    height: auto;
    background: linear-gradient(to top, #3860ec, #6a31e2);
}

.footer-content {
    padding: 100px;
    gap: 50px;
    display: grid;
    grid-template-rows: (2,1fr);
}

.footer-group-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-logo {
    display: flex;
    justify-content: center;
}

footer .nav-link,
#form-typography {
    color: #ffffff !important;
    opacity: 0.75;
    font-weight: 300;
}

footer h5,
form label {
    font-weight: 700;
}
footer #footer-form {
    background-color: #6428e3;
    font-size: 18px;
    border-radius: 5px;
}
#footer-form p {
    font-size: 13px;
}
#footer-form button {
    background-color: #af35e9;
}

#form-control input {
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#form-control button {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer .row {
    display: flex !important;
    justify-content: space-between !important;
    margin: 0 !important;
    padding-bottom: 1% !important;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
}
footer li {
    width: max-content;
}
.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s linear;
}

.footer-link p a::after{
    content: "";
    width: 0;
    height: 2px;
    border-radius: 50px;
    background-color: #ffffff;
    margin:auto;
    display: block;
    transition: width 0.3s linear;
}


.footer-link a {
    text-decoration: none!important;
   color: #ffffff!important;
    margin: auto;
    display: block;
    transition: width 0.3s linear!important;
}

.footer-link p a:hover::after {
    width: 100%;
    transition: width 0.3s linear!important;
}

.footer-link:hover {
    transition: width 0.3s linear;
}

/* LOGO */

#theme-logo {
    transition: var(--transition);
}

footer svg path {
    fill: #ffffff;
}